/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Greybox Styles*/

body {
    font-size: 16px;
}

header, section, footer, div {
    display: flex;
}

header, section, form, label {
    border: 1px solid grey;
    box-sizing: border-box;
}

header {
    flex-flow: column;
    justify-content: center;
    align-items: center;
    height: 50vh;
}

h1, h2, section, div, footer {
    box-sizing: border-box;
}

h1 {
    font-family: 'Major Mono Display', monospace;
    font-size: 3em;
}

h2 {
    font-size: 2em;
}

h2, section, p {
    font-family: 'Roboto', sans-serif;
}

h2, section {
    padding-top: 2em;
}

section {
    flex-flow: row;
    justify-content: center;
    align-items: center;
    padding: 10em;
    height: 50vh;
    background-image: url(img/maxresdefault.jpg);
    background-size: cover;
}

button {
    padding: 15px 30px;
    background-color: gray;
    border: 0;
}

button:hover {
    border: 0;
    background-color: black;
    color: white;
}

button:active {
    background-color: black;
    color: white;
}

form {
    width: 60%;
    display: flex;
    flex-flow: column;
}

input[type="radio"] {
    position: fixed;
    opacity: 0;
}

label {
    padding: 1em;
}

label:hover {
    background-color: gray;
}

input[type="radio"]:checked + label {
    border: 1px solid black;
    background-color: gray;
}

div {
    width: 60%;
    flex-flow: column;
    text-align: center;
}

div h2 {
    padding: 2em 0;
    border: 1px solid gray;
}

footer {
    flex-flow: row;
    justify-content: space-around;
    padding: 2em;
    background-color: gray;
    color: white;
}

.hidden {
    display: none;
}